streamlit
langchain 
chromadb
pypdf
unstructured[pdf]
sentence-transformers
ollama
python-dotenv
tiktoken
pdf2image
pytesseract
pillow
langchain-community
langchain-openai
langchain-groq  
pysqlite3-binary